@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
:root {
  --body-background: #f6f6f6;
  --text-color: #1c1c1c;
  --dark-background: #2b3743;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: var(--body-background);
}
.conteiner {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}
.dark {
  background: #202d36;
}
